<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="ci"/>
        <env name="DB_DATABASE" value="ci_plandalf"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>

        <env name="MEDIA_FILESYSTEM_BUCKET" value="public"/>
        <env name="MEDIA_FILESYSTEM_DISK" value="local"/>

        <env name="STRIPE_TEST_CLIENT_ID" value="pk_test_51H9"/>
        <env name="STRIPE_TEST_CLIENT_SECRET" value="sk_test_51H9"/>
        <env name="STRIPE_TEST_WEBHOOK_SECRET" value="some_secret"/>

        <env name="STRIPE_LIVE_CLIENT_ID" value="pk_live_51H9"/>
        <env name="STRIPE_LIVE_CLIENT_SECRET" value="sk_live_51H9"/>
        <env name="STRIPE_LIVE_WEBHOOK_SECRET" value="some_secret"/>

        <env name="PLANDALF_SECRET" value="abc123"/>
        <env name="PLANDALF_CLIENT_ID" value="321cba"/>
    </php>
</phpunit>
